.pg-loading-logo {
    max-width: 25% !important;
}

.pixel-spinner,
.pixel-spinner * {
    box-sizing: border-box;
}

.pixel-spinner {
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.pixel-spinner .pixel-spinner-inner {
    width: calc(70px / 7);
    height: calc(70px / 7);
    background-color: #467fcf;
    color: #467fcf;
    box-shadow: 15px 15px 0 0, -15px -15px 0 0, 15px -15px 0 0, -15px 15px 0 0, 0 15px 0 0, 15px 0 0 0, -15px 0 0 0, 0 -15px 0 0;
    animation: pixel-spinner-animation 2000ms linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes pixel-spinner-animation {
    50% {
        box-shadow: 20px 20px 0px 0px, -20px -20px 0px 0px, 20px -20px 0px 0px, -20px 20px 0px 0px, 0px 10px 0px 0px, 10px 0px 0px 0px, -10px 0px 0px 0px, 0px -10px 0px 0px;
    }
    75% {
        box-shadow: 20px 20px 0px 0px, -20px -20px 0px 0px, 20px -20px 0px 0px, -20px 20px 0px 0px, 0px 10px 0px 0px, 10px 0px 0px 0px, -10px 0px 0px 0px, 0px -10px 0px 0px;
    }
    100% {
        transform: rotate(360deg);
    }
}