div.container {
  margin-top: 20px;
}

div.top-container {
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  padding: 20px;
}

div.form-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

div.name-container,
div.site-container,
div.date-container,
div.camp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  width: 25%;
}

h2.title {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
}

i.no-choice {
  margin-top: 10px;
}
